body, h1, h2, h3, p, ul, li, form, input, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #efeeee;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header {
    height: 56px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}
p {
    text-align: center;
    font-size: 18px;
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer nav ul {
    list-style: none;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #fff;
}

form {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

.cover {
    min-height: 100vh;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
}


.cover img {
    max-width: 100%;
    height: auto;
}

.cover {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
}

.cover img {
    max-width: 100%;
    height: auto;
}

.cover {
    text-align: left;
    padding: 90px 0;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.album-box, .album-box2, .album-box3 {
    display: inline-block;
    padding: 15px;
    background: linear-gradient(to top right, #333333, #c1c0c0);
    width: 300px;
    height: 600px;
    text-align: center;
    margin-left: 40px;
    border-radius: 7px;
    margin-top: 20px;
    transition: transform 0.3s;
}
.album-box:hover, .album-box2:hover, .album-box3:hover {
    transform: scale(1.1);
}

.en-savoir-plus-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #373432;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.en-savoir-plus-button:hover {
    background-color: #ffffff;
    color: #424141;
}

body.description {
    background-color: #333333;
}

.news-heading {
    margin: 0;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.cover {
    text-align: center;
    padding: 20px;
    background-color: #333;
    min-height: 200px;
}
header nav {
    margin: 0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Description.html */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, #000, rgb(142, 93, 1));
    padding: 20px;
    margin-left:60px;
    margin-right: 60px;
    text-align: center;
    flex-grow: 1;
    border-radius: 10px;
}
  .image-description {
    color: #c5bfbf;
    font-size: 18px;
  }
  .container {
    font-family: 'Kanit', sans serif;
  }
.container {
    font-size: 80%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #dcd8d8;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

/* contact.html */

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
/* Style pour le conteneur du formulaire et de la carte */
.form-and-map {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-map {
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: rgb(255, 0, 0);
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #fdfdfd;
}
/* Formulaire de contact */
form {
    max-width: 600px;
    margin: 0px auto 0;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
    color: #333;
}

input[type="text"],
textarea {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: rgb(134, 134, 134);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(59, 59, 59);
}

#map {
    width: 100%;
    height: 300px;
    margin: 30px 0;
}

#confidentialite {
    margin: 10px 0;
}
.form-and-map {
    display: flex;
    justify-content: space-between;
}

.contact-form {
    flex: 1;
    padding: 10px;
}

.contact-map {
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
}
h2 {
    text-align: center;
    margin-bottom: 3%;
}

/* concerts.html */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.concert-container {
    text-align: center;
}
.box5 {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.concert-box {
    background-color: #b1aeae;
    color: #333232;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: left;
    width: 40%;
}

.box5bis {
    justify-self: flex-end;
}

.concert-container::after {
    content: "";
    display: inline-block;
    width: 32%;
}

.concert-container {
    display: flex;
    justify-content: center;
}

.text-box {
    background-color: #b1aeae;
    color: #333232;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
    flex-grow: 1;
}

video {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 4px solid #333;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: #000;
    outline: none;
}
ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

  .text-box p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.concert-box, .text-box {
    transition: transform 0.2s;
}
  
  .concert-box:hover, .text-box:hover {
    transform: scale(1.1);
}
  
  video {
    transition: transform 0.2s;
}
  
  video:hover {
    transform: scale(1.1);
}
.social-links {
    margin-bottom: 2%;
    text-align: center;
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff8f8;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

.social-links a{
    list-style: none;
    padding: 0;
}

.social-links a{
    display: inline;
    margin-right: 10px;
}

.social-links a{
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.social-links a:hover {
    background-color: #555;
}
.button-box {
    text-align: center;
    margin-top: 20px;
}

.fan-site-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

/* Logo De Damso */

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

nav {
    font-size: 18px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.image-description {
    font-family: 'Times New Roman', serif;
}

/* Media Queries */


/* Styles pour les écrans jusqu'à 926px */
@media only screen and (max-width: 926px) {
    .cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
    }

    .social-links {
        margin-top: 20px;
        order: 1;
    }

    .album-box,
    .album-box2,
    .album-box3 {
        margin: 20px 0;
    }
}

/* Styles pour les écrans jusqu'à 828px */
@media only screen and (max-width: 828px) {
    header nav ul {
        font-size: 14px;
        margin-top: 10px;
    }

    header nav ul li {
        margin: 0 5px;
    }

    header nav ul li a {
        padding: 0;
    }

    .logo-container {
        flex-direction: column;
        align-items: center;
    }

    h1.news-heading,
    h1.concert-heading,
    h1.description-heading,
    h1.contact-heading {
        margin-top: 50px;
    }

    main {
        margin-top: 20px;
    }

    .cover {
        padding-top: 20px;
    }

    footer {
        margin-top: 20px;
    }
}
/* Styles pour les écrans jusqu'à 600px (téléphones) */
@media only screen and (max-width: 600px) {
    iframe {
        width: 100%;
        height: 200px;
    }

    .container img {
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    .social-links {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    .social-links a {
        margin: 0 10px;
    }
}

/* Styles pour les écrans à partir de 601px (tablettes et écrans plus grands) */
@media only screen and (min-width: 601px) {
    iframe {
        width: 100%;
        height: 300px;
    }

    form {
        margin: 0 auto;
    }
}

/* Styles à partir de 51px de largeur */
@media only screen and (min-width: 51px) {
    .container {
        margin: 20px 10px;
    }
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, #000, rgb(142, 93, 1));
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 80%;
}

.image-description {
    color: #c5bfbf;
    font-size: 18px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    margin: 0 10px;
}